<header>
  <div class="header_container">
    <div class="welcome">
      <div class="welcome_head">
        Привет, это мой сайт-визитка
      </div>
      <div class="welcome_desc">
        Я бы рад тут что-то написать, но ещё ничего не придумал.<br>
        Листай вниз!
      </div>
    </div>

    <div class="header_social">
      <a href="https://vk.com/gazprom05" target="_blank">
        <i class="fa fa-vk"></i>
      </a>
      <a href="{% url 'error' %}" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCRNMlS_iaWrs2lJ6AVPdycA?view_as=subscriber" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="/error/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>

    <div class="header_promo">
      <div class="header_promo_main">
        Смолкин <br>
          Дмитрий<br>
        Владимирович
      </div>
      <div class="header_promo_desc">
        Возраст: 27 лет<br>
        Дата рождения: 16.06.1991г<br>
        тел.: +7(921)-345-12-54<br>
        почта: gazprom05@mail.ru
      </div>
      <a href="/admin/" class="header_promo_link" target="_blank">
        Админка
      </a>
    </div>
  </div>
</header>