{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
      {% block title %}
        {{ title|title }}
      {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'packages/font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body>

{% block header_main %}
{% endblock %}

{% block 404 %}
{% endblock %}


<footer>
  <div class="footer_container">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af6d68b99bfc8fc89993d8e30d32d9af294962915cf252527d7483d2720c35656&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>  </div>
  <div class="copyrights_wrap">
    <div class="copyrights">
      &copy; 2019 Тут могла быть Ваша реклама.
      <div class="footer_socials">
        <a href="https://vk.com/gazprom05" target="_blank">
          <i class="fa fa-vk"></i>
        </a>
        <a href="{% url 'error' %}" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCRNMlS_iaWrs2lJ6AVPdycA?view_as=subscriber" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="{% url 'error' %}" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

</body>

</html>