<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Смолкин Дмитрий</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/packages/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
  <div class="header_container">
    <div class="welcome">
      <div class="welcome_head">
        Привет, это мой сайт-визитка
      </div>
      <div class="welcome_desc">
        Я бы рад тут что-то написать, но ещё ничего не придумал.<br>
        Листай вниз!
      </div>
    </div>

    <div class="header_social">
      <a href="https://vk.com/gazprom05" target="_blank">
        <i class="fa fa-vk"></i>
      </a>
      <a href="static/img/bild.jpg" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCRNMlS_iaWrs2lJ6AVPdycA?view_as=subscriber" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="/error/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>

    <div class="header_promo">
      <div class="header_promo_main">
        Смолкин <br>
          Дмитрий<br>
        Владимирович
      </div>
      <div class="header_promo_desc">
        Возраст: 27 лет<br>
        Дата рождения: 16.06.1991г<br>
        тел.: +7(921)-345-12-54<br>
        почта: gazprom05@mail.ru
      </div>
      <a href="https://e.mail.ru/compose/" class="header_promo_link" target="_blank">
        Contact me
      </a>
    </div>
  </div>
</header>

<main>
  <div class="main_container">
    <div class="left_main">
      <ul class="menu_main">
        <li><a href="#">Главная</a></li>
        <li><a href="#edu">Образование</a></li>
        <li><a href="#career">Карьера</a></li>
        <li><a href="#edu2">Доп. образование</a></li>
        <li><a href="#cert">Сертификаты</a></li>
        <li><a href="#about_me">Обо мне</a></li>
        <li><a href="#inst">Фото</a></li>
        <li><a href="https://e.mail.ru/compose/" target="_blank">Связаться со мной</a></li>
      </ul>
    </div>

    <div class="right_main">

      <a name="edu"></a>
      <div class="header_products">
        Образование
      </div>

      <div class="products_wrap">

        <div class="education_unit">
          <img src="static/img/education/393_logo.png" alt="ГБОУ Лицей №393">
          <div class="education_name">
            ГБОУ Лицей №393
          </div>
          <div class="education_date">
            2004 - 2008
          </div>
        </div>

        <div class="education_unit">
          <img src="static/img/education/politeh_logo.jpg" alt="Политех">
          <div class="education_name">
            Санкт-Петербургский Государственный Политехнический университет
          </div>
          <div class="education_date">
            2008 - 2013
          </div>
        </div>

        <div class="education_unit">
          <img src="static/img/education/geekbrains_logo.jpg" alt="Geekbrains">
          <div class="education_name">
            Образовательный портал Geekbrains
          </div>
          <div class="education_date">
            2018 - 2019
          </div>
        </div>

      </div>



      <a name="career"></a>
      <div class="header_products">
        Карьера
      </div>

      <div class="products_wrap">

        <div class="career_unit">
          <img src="static/img/career/logo-aero.png" alt="Эдвенче">
          <div class="career_name">
            Компания "Эдвенче"<br>
            Конструктор
          </div>
          <div class="career_date">
            2008 - 2015
          </div>
        </div>

        <div class="career_unit">
          <img src="static/img/career/elkus.jpg" alt="Элкус">
          <div class="career_name">
            Электронная компания "Элкус"<br>
            Инженер-конструктор
          </div>
          <div class="career_date">
            2015 - 2019
          </div>
        </div>

      </div>



      <a name="edu2"></a>
      <div class="header_products">
        Дополнительное образование
      </div>

      <div class="products_wrap">

        <div class="add_edu_unit">
          <img src="static/img/add_edu/solidcam.jpg" alt="Solidcam">
          <div class="add_edu_name">
            SolidCAM — инструмент быстрого и легкого создания управляющих программ для токарных, фрезерных и фрезерно-токарных станков с ЧПУ.
          </div>
          <div class="add_edu_date">
            2015
          </div>
        </div>

        <div class="add_edu_unit">
          <img src="static/img/add_edu/pdm.jpg" alt="PDM">
          <div class="add_edu_name">
            SolidWorks Enterprise PDM — корпоративная система управления данными и процессами на различных этапах жизненного цикла изделия.
          </div>
          <div class="add_edu_date">
            2016
          </div>
        </div>

      </div>


      <a name="cert"></a>
      <div class="header_products">
        Сертификаты
      </div>

      <div class="products_wrap">

        <div class="cert_unit">
          <a href="static/img/certificates/osnovy_progr.jpg" target="_blank">
            <img src="static/img/certificates/osnovy_progr.jpg" alt="Основы программирования">
          </a>
          <div class="cert_name">
            Основы программирования
          </div>
        </div>

        <div class="cert_unit">
          <a href="static/img/certificates/python_quick_start.jpg" target="_blank">
            <img src="static/img/certificates/python_quick_start.jpg" alt="Python. Быстрый старт">
          </a>
          <div class="cert_name">
            Python. Быстрый старт
          </div>
        </div>

        <div class="cert_unit">
          <a href="static/img/certificates/python_osnovy.jpg" target="_blank">
            <img src="static/img/certificates/python_osnovy.jpg" alt="Основы языка Python">
          </a>
          <div class="cert_name">
            Основы языка Python
          </div>
        </div>

        <div class="cert_unit">
          <a href="static/img/certificates/html_css.jpg" target="_blank">
            <img src="static/img/certificates/html_css.jpg" alt="HTML/CSS">
          </a>
          <div class="cert_name">
            HTML/CSS
          </div>
        </div>

        <div class="cert_unit">
          <a href="static/img/certificates/osnovy_db.jpg" target="_blank">
            <img src="static/img/certificates/osnovy_db.jpg" alt="Основы баз данных">
          </a>
          <div class="cert_name">
            Основы баз данных
          </div>
        </div>

        <div class="cert_unit">
          <a href="static/img/certificates/django.jpg" target="_blank">
            <img src="static/img/certificates/django.jpg" alt="Django">
          </a>
          <div class="cert_name">
            Django
          </div>
        </div>

        <div class="cert_unit">
          <a href="static/img/certificates/algorithm.jpg" target="_blank">
            <img src="static/img/certificates/algorithm.jpg" alt="Алгоритмы и структуры данных на Python">
          </a>
          <div class="cert_name">
            Алгоритмы и структуры данных на Python
          </div>
        </div>


      </div>

      <a name="about_me"></a>
      <div class="header_products">
        Обо мне
      </div>

      <div class="products_wrap">
        <div class="text_about_me">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae, dolores ea ex fugiat harum illo impedit ipsam libero molestiae non optio porro quasi ratione sapiente velit veniam. Ab cumque cupiditate illo necessitatibus quod repellendus, soluta? Ad animi atque commodi cum doloremque error ex possimus provident? Eum nesciunt, sapiente! Consectetur?</p>
        </div>
      </div>



    </div>

    <div class="brands">
      <img src="static/img/brands/python.png" alt="python">
      <img src="static/img/brands/js.png" alt="js">
      <img src="static/img/brands/css.png" alt="css">
      <img src="static/img/brands/html.png" alt="html">
      <img src="static/img/brands/django.png" alt="django">
      <img src="static/img/brands/mysql.png" alt="mysql">
      <img src="static/img/brands/sqlite.jpg" alt="sqlite">
      <img src="static/img/brands/bootstrap.jpg" alt="bootstrap">
    </div>

    <a name="inst"></a>
    <div class="instagram_feed">
      <div class="instagram_feed_head">
        <i class="fa fa-instagram"></i> Если бы я имел инстаграм: <span>#gazprom05</span>
      </div>
      <div class="instagram_feed_image">
        <img src="static/img/insta-feed/1.jpg" alt="insta1">
        <img src="static/img/insta-feed/2.jpg" alt="insta2">
        <img src="static/img/insta-feed/3.jpg" alt="insta3">
        <img src="static/img/insta-feed/4.jpg" alt="insta4">
        <img src="static/img/insta-feed/5.jpg" alt="insta5">
        <img src="static/img/insta-feed/6.jpg" alt="insta6">
      </div>
    </div>


  </div>
</main>

<footer>
  <div class="footer_container">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af6d68b99bfc8fc89993d8e30d32d9af294962915cf252527d7483d2720c35656&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>  </div>
  <div class="copyrights_wrap">
    <div class="copyrights">
      &copy; 2019 Тут могла быть Ваша реклама.

      <div class="footer_socials">
        <a href="https://vk.com/gazprom05" target="_blank">
          <i class="fa fa-vk"></i>
        </a>
        <a href="static/img/bild.jpg" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCRNMlS_iaWrs2lJ6AVPdycA?view_as=subscriber" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="static/img/bild.jpg" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

</body>

</html>