{% extends "mainapp/base.html" %}
{% load staticfiles %}



{% block header_main %}

{% include 'mainapp/includes/inc_header.html' %}

<main>
  <div class="main_container">
    <div class="left_main">
      <ul class="menu_main">
        <li><a href="#">Главная</a></li>
        <li><a href="#edu">Образование</a></li>
        <li><a href="#career">Карьера</a></li>
        <li><a href="#edu2">Доп. образование</a></li>
        <li><a href="#cert">Сертификаты</a></li>
        <li><a href="#about_me">Обо мне</a></li>
        <li><a href="#inst">Фото</a></li>
        <li><a href="https://e.mail.ru/compose/" target="_blank">Связаться со мной</a></li>
      </ul>
    </div>

    <div class="right_main">

      <a name="edu"></a>
      <div class="header_products">
        Образование
      </div>

      <div class="products_wrap">


          {% for education_table in education_table %}
                <div class="education_unit">
                  <img src="{{education_table.image.url}}" alt="ГБОУ Лицей №393">
                  <div class="education_name">
                    {{education_table.name}}
                  </div>
                  <div class="education_date">
                    {{education_table.dates}}
                  </div>
                </div>
          {% endfor %}

        <!--{% for edu_agency in edu_agency %}-->
            <!--<div class="education_unit">-->
              <!--<img src="{{edu_agency.edu_agency_logo}}" alt="ГБОУ Лицей №393">-->
              <!--<div class="education_name">-->
                <!--{{edu_agency.edu_agency_name}}-->
              <!--</div>-->
              <!--<div class="education_date">-->
                <!--{{edu_agency.edu_agency_years}}-->
              <!--</div>-->
            <!--</div>-->
        <!--{% endfor %}-->

      </div>



      <a name="career"></a>
      <div class="header_products">
        Карьера
      </div>

      <div class="products_wrap">

          {% for career_table in career_table %}
          <div class="career_unit">
            <img src="{{career_table.image.url}}" alt="Фирма">
            <div class="career_name">
              {{career_table.name}}<br>
              Должность:   {{career_table.position}}
            </div>
            <div class="career_date">
              {{career_table.dates}}
            </div>
          </div>
        {% endfor %}



        <!--{% for career in career %}-->
          <!--<div class="career_unit">-->
            <!--<img src="{{career.company_logo}}" alt="Эдвенче">-->
            <!--<div class="career_name">-->
              <!--{{career.company_name}}<br>-->
              <!--{{career.company_position}}-->
            <!--</div>-->
            <!--<div class="career_date">-->
              <!--{{career.company_years}}-->
            <!--</div>-->
          <!--</div>-->
        <!--{% endfor %}-->

      </div>



      <a name="edu2"></a>
      <div class="header_products">
        Дополнительное образование
      </div>

      <div class="products_wrap">

          {% for addeducation_table in addeducation_table %}
                <div class="add_edu_unit">
                  <img src="{{addeducation_table.image.url}}" alt="Solidcam">
                  <div class="add_edu_name">
                      {{addeducation_table.description}}
                  </div>
                  <div class="add_edu_date">
                    {{addeducation_table.dates}}
                  </div>
                </div>
          {% endfor %}

          <!--{% for add_education in add_education %}-->
            <!--<div class="add_edu_unit">-->
              <!--<img src="{{add_education.add_education_logo}}" alt="Solidcam">-->
              <!--<div class="add_edu_name">-->
                  <!--{{add_education.add_education_text}}-->
              <!--</div>-->
              <!--<div class="add_edu_date">-->
                <!--{{add_education.add_education_year}}-->
              <!--</div>-->
            <!--</div>-->
          <!--{% endfor %}-->

      </div>


      <a name="cert"></a>
      <div class="header_products">
        Сертификаты
      </div>

      <div class="products_wrap">

          {% for certificates_table in certificates_table %}
            <div class="cert_unit">
              <a href="{{certificates_table.image.url}}" target="_blank">
                <img src="{{certificates_table.image.url}}" alt="Основы программирования">
              </a>
              <div class="cert_name">
                {{certificates_table.name}}
              </div>
            </div>
          {% endfor %}

          <!--{% for certificate in certificates %}-->
            <!--<div class="cert_unit">-->
              <!--<a href="{% static 'img/certificates/osnovy_progr.jpg' %}" target="_blank">-->
                <!--<img src="{{certificate.certificate_img}}" alt="Основы программирования">-->
              <!--</a>-->
              <!--<div class="cert_name">-->
                <!--{{certificate.certificate_name}}-->
              <!--</div>-->
            <!--</div>-->
          <!--{% endfor %}-->

      </div>

      <a name="about_me"></a>
      <div class="header_products">
        Обо мне
      </div>

      <div class="products_wrap">
        <div class="text_about_me">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae, dolores ea ex fugiat harum illo impedit ipsam libero molestiae non optio porro quasi ratione sapiente velit veniam. Ab cumque cupiditate illo necessitatibus quod repellendus, soluta? Ad animi atque commodi cum doloremque error ex possimus provident? Eum nesciunt, sapiente! Consectetur?</p>
        </div>
      </div>


    </div>


    <div class="brands">
      <img src="{% static 'img/brands/python.png' %}" alt="python">
      <img src="{% static 'img/brands/js.png' %}" alt="js">
      <img src="{% static 'img/brands/css.png' %}" alt="css">
      <img src="{% static 'img/brands/html.png' %}" alt="html">
      <img src="{% static 'img/brands/django.png' %}" alt="django">
      <img src="{% static 'img/brands/mysql.png' %}" alt="mysql">
      <img src="{% static 'img/brands/sqlite.jpg' %}" alt="sqlite">
      <img src="{% static 'img/brands/bootstrap.jpg' %}" alt="bootstrap">
    </div>

    <a name="inst"></a>
    <div class="instagram_feed">
      <div class="instagram_feed_head">
        <i class="fa fa-instagram"></i> Если бы я имел инстаграм: <span>#gazprom05</span>
      </div>
      <div class="instagram_feed_image">
        <img src="{% static 'img/insta-feed/1.jpg' %}" alt="insta1">
        <img src="{% static 'img/insta-feed/2.jpg' %}" alt="insta2">
        <img src="{% static 'img/insta-feed/3.jpg' %}" alt="insta3">
        <img src="{% static 'img/insta-feed/4.jpg' %}" alt="insta4">
        <img src="{% static 'img/insta-feed/5.jpg' %}" alt="insta5">
        <img src="{% static 'img/insta-feed/6.jpg' %}" alt="insta6">
      </div>
    </div>


  </div>
</main>
{% endblock %}

